body{
  background-color: black;
}
main{
  width:100vw;
}
.bg{
  background-color: #1E201E;
}
img{
  background-color: #6f756f2c;
  border-radius: 40px;
}
.txt{
  background-image: linear-gradient( to right, #1ef0f4,#872727);
  background-clip: text;
  color: transparent;
}
.txtt{
  background-image: linear-gradient(to right,#6ee11c,#e35c5c);
  background-clip: text;
  color: transparent; 
}
.details{
  width:25%;
}
.information{
  width:75%;
}
.details,.information{
  border-radius: 25px;
}
.navlinks:hover{
  color:gold;
}
.resume,.projects,.skillsandcertifications{
  display: none;
}
@media only screen and (max-width:426px){
  .details,.information{
    width:100%;
   }
   .details{
    z-index: -1;
   }  
}

@media (min-width:557px) and (max-width:768px){
  .details,.information{
    width:100%;
  }
  .details{
    z-index:-1;
  }
}